@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body,input,select,textarea,button{
  font-size: 1.6rem;
  font-family:Montserrat, Arial, Helvetica, sans-serif;
}

body,
#root{ 
  height: 100vh;
  margin: 0;
}

a:hover{
  color: #ff8000;
}

a{
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #204030;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a{
  color: #ffffff;
  text-decoration: none;
}

main{
  grid-area: main;
}

footer{
  grid-area:footer;
  background-color: #204030;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items : center;


}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}